html {
    overflow-y: scroll
}

body {
    max-width: 1024px;
    margin: 40px auto;
    padding: 0 10px;
    font: 18px/1.5 monospace;
    color: white;
    /* background: black; */
}

h1, h2, h3 {
    line-height: 1.2
}

a {
    color: pink;
}

/*a:visited {*/
/*    color: palevioletred;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*    body {*/
/*        color: white;*/
/*        background: #444*/
/*    }*/

/*    a:link {*/
/*        color: #5bf*/
/*    }*/

/*    a:visited {*/
/*        color: #ccf*/
/*    }*/
/*}*/

p > code {
    padding: 2px;
    background: #282a36;
    color: pink;
}



p > code:after, p > code:before {
    content: "`";
    display: inline;
    background: #282a36;
    color: pink;
}

pre {
    color: #FFFFFF;
    background: #000000;
    padding: 24px;
    overflow-x: auto
}

article {
    padding: 24px 0
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

figcaption {
    color: #888;
    font: 12px/1.5 monospace;
    text-align: center;
}

figure {
    margin: auto
}
